target/
!reviewlah-back/.mvn/wrapper/maven-wrapper.jar
!reviewlah-back/src/main/**/target/
!reviewlah-back/src/test/**/target/
reviewlah-back/src/main/resources/application.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!reviewlah-back/src/main/**/build/
!reviewlah-back/src/test/**/build/

### VS Code ###
.vscode/
